<template>
  <div class="page-container">
    <h1 class="title">
      Current state of the COVID-19 pandemic in Germany
    </h1>
    <GChart
      type="LineChart"
      :data="chartData"
      :options="chartOptions"
      @ready="onChartReady"
    />
    <div class="content">
      <p>
        This website provides a simple overview for Germany about the Covid-19
        pandemic according to the insights provided in this minute physics
        video:
      </p>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/54XLXg4fYsc"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <p>
        The data is based on the latest update of the CSSE of the
        <a href="https://coronavirus.jhu.edu/map.html"
          >John Hopkins University</a
        >.
      </p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import VueGoogleCharts from 'vue-google-charts'

Vue.use(VueGoogleCharts)

export default {
  asyncData({ params }) {
    return axios
      .get(
        `https://wuhan-coronavirus-api.laeyoung.endpoint.ainize.ai/jhu-edu/timeseries?iso2=DE&onlyCountries=true`
      )
      .then((response) => {
        return { rawData: response.data[0].timeseries }
      })
      .catch((httpsError) => {
        console.log('API access using HTTPS failed')
        console.log(httpsError)
        axios
          .get(
            `http://wuhan-coronavirus-api.laeyoung.endpoint.ainize.ai/jhu-edu/timeseries?iso2=DE&onlyCountries=true`
          )
          .then((response) => {
            return { rawData: response.data[0].timeseries }
          })
          .catch((httpError) => {
            console.log(httpError.response)
          })
      })
  },
  data() {
    return {
      chartData: [],
      chartOptions: {
        chartArea: {
          top: '10',
          left: '18%',
          width: '78%',
          height: '80%'
        },
        hAxis: {
          logScale: true,
          title: 'Total Confirmed Cases',
          viewWindow: { min: 10 }
        },
        height: 300,
        legend: {
          position: 'bottom'
        },
        series: {
          1: {
            color: 'grey',
            lineDashStyle: [3, 3]
          }
        },
        tooltip: {
          isHtml: true
        },
        vAxis: {
          logScale: true,
          title: 'New Confirmed Cases (last 7 days)',
          viewWindow: { min: 10 }
        }
      }
    }
  },
  methods: {
    onChartReady(chart, google) {
      // now we have google lib loaded. Let's create data table based using it.
      this.createDataTable(google)
    },
    createDataTable(google) {
      const formattedData = new google.visualization.DataTable()
      formattedData.addColumn('number', 'Total Confirmed Cases')
      formattedData.addColumn('number', 'New Confirmed Cases (last 7 days)')
      formattedData.addColumn({
        id: 'confirmed tooltip',
        type: 'string',
        role: 'tooltip',
        p: { html: true }
      })
      formattedData.addColumn('number', 'Exponential Reference')
      formattedData.addColumn({
        id: 'reference tooltip',
        type: 'string',
        role: 'tooltip',
        p: { html: true }
      })
      const days = this.rawData
      const data = []
      let lastConfirmed = 0
      const lastWeek = [0, 0, 0, 0, 0, 0, 0]
      for (const day in days) {
        const values = days[day]
        const date = new Date(day)
        lastWeek.shift()
        lastWeek.push(values.confirmed - lastConfirmed)
        lastConfirmed = values.confirmed
        if (values.confirmed > 10) {
          const increase = lastWeek.reduce((a, b) => a + b, 0)
          let confirmedTooltip =
            '<p><b>' + date.toLocaleDateString() + '</b></br>'
          confirmedTooltip +=
            'Total Confirmed Cases: ' + values.confirmed + '</br>'
          confirmedTooltip +=
            'New Confirmed Cases (last 7 days): ' + increase + '</p>'
          data.push([
            values.confirmed,
            increase,
            confirmedTooltip,
            values.confirmed,
            confirmedTooltip
          ])
        }
      }
      formattedData.addRows(data)
      this.chartData = formattedData
    }
  }
}
</script>

<style>
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.content {
  max-width: 560px;
  margin: auto;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #526488;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
